
.toolbar-background-md {
  border-color: #131212;
  background: rgb(33, 99, 100);
}

.toolbar-title-md {
  font-family: 'Lucida Handwriting';
  font-size: 30px;
  color: #ffffff;
}

ion-app.md [padding] .scroll-content {
  background:#3EB9BB
   
}

button {
  background-color: #501B4A !important;
}

.back-button {
  background-color: transparent !important;
}


.label-md[stacked]{
  font-size: 1.4rem !important;
  color: #fff !important;
}
